@charset "UTF-8";
@font-face {
	font-family: 'The Amazing Spider-Man';
	src: url(../fonts/The\ Amazing\ Spider-Man.ttf) format(truetype);
}
@font-face {
	font-family: 'Another Danger Slanted - Demo';
	src: url(../fonts/Another\ Danger\ Slanted\ -\ Demo.otf) format(opentype);
}
@font-face {
	font-family: 'Breakdown PG';
	src: url(../fonts/Breakdown\ PG.otf) format(opentype);
}

* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#figure-1{
	background-image: url("../images/spiderman_mono.jpg");
	background-size: cover;
}
#figure-1:hover{
	background-image: url("../images/spiderman_color.jpg");
	background-size: cover;
}

#figure-2{
	background-image: url("../images/wolverine_mono.jpg");
	background-size: cover;
}
#figure-2:hover{
	background-image: url("../images/wolverine_color.jpg");
	background-size: cover;
}

#figure-3{
	background-image: url("../images/hulk_mono.jpg");
	background-size: cover;
}
#figure-3:hover{
	background-image: url("../images/hulk_color.jpg");
	background-size: cover;
}

#spiderman-font{
	font-family: 'The Amazing Spider-Man';
	font-weight: bold;
	color: red;
}

#wolverine-font{
	font-family: 'Another Danger Slanted - Demo';
	color: yellow;
	text-shadow: 1px 3px 2px black;
}

#hulk-font{
	font-family: 'Breakdown PG';
	color: green;
}

.container{
	text-align: center;
}

.sinopse{
	display: inline-table;
}

.sinopse .text{
	display: none;
}

.sinopse:hover .text{
	display: block;
}

.image{
	border-radius: 5px;
	box-shadow: 10px 10px 10px grey;
	height: 300px;
	width: 210px;
	margin: 10px 40px 10px 40px;
}

.text{
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	height: 300px;
	width: 210px;
	margin: 30px 40px 10px 40px;
}

header{
	text-align: center;
}
